{% load static %}
<header class="main-header">
  <!-- Logo -->
  <a href="{% url 'adminDashboard' %}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">O V S</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>NAVIGATIONS</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- USER ACCOUNT DROPDOWN -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{% static 'images/userplaceholder.png' %}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ request.user }}</span>
          </a>

          <ul class="dropdown-menu">

            <!-- USER IMAGE AND INFO -->
            <li class="user-header">
              <img src="{% static 'images/userplaceholder.png' %}" class="img-circle" alt="User Image">
              <p>
                Voters
                <small>Member since 2025</small>
              </p>
            </li>

            <!-- FOOTER WITH LOGOUT BUTTON -->
            <li class="user-footer">
              <div class="pull-right">
                <a href="{% url 'account_logout' %}" class="btn btn-danger btn-flat">Logout</a>
              </div>
            </li>

          </ul>
        </li>

      </ul>
    </div>
  </nav>
</header>

{% include "bio.html" %}
